@import "https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&amp;subset=cyrillic";
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.svg-close, .big-mac b, .svg-email, .svg-facebook, .svg-facebook__hover, .svg-instagram, .svg-location, .svg-phone, .svg-picom, .svg-vkontakte {
  background-image: url(../images/ui.svg);
  background-repeat: no-repeat;
}

.svg-close, .big-mac b {
  display: inline-block;
  vertical-align: middle;
  background-position: 0 100%;
  width: 15px;
  height: 15px;
}

.svg-email {
  display: inline-block;
  vertical-align: middle;
  background-position: 29.23076923076923% 66.15384615384616%;
  width: 18px;
  height: 12px;
}

.svg-facebook {
  display: inline-block;
  vertical-align: middle;
  background-position: 0 39.285714285714285%;
  width: 21px;
  height: 21px;
}

.svg-facebook__hover {
  display: inline-block;
  vertical-align: middle;
  background-position: 33.87096774193548% 39.285714285714285%;
  width: 21px;
  height: 21px;
}

.svg-instagram {
  display: inline-block;
  vertical-align: middle;
  background-position: 100% 0;
  width: 21px;
  height: 21px;
}

.svg-location {
  display: inline-block;
  vertical-align: middle;
  background-position: 60.869565217391305% 38.59649122807018%;
  width: 14px;
  height: 20px;
}

.svg-phone {
  display: inline-block;
  vertical-align: middle;
  background-position: 0 74.13793103448276%;
  width: 19px;
  height: 19px;
}

.svg-picom {
  display: inline-block;
  vertical-align: middle;
  background-position: 0 0;
  width: 62px;
  height: 22px;
}

.svg-vkontakte {
  display: inline-block;
  vertical-align: middle;
  background-position: 100% 37.5%;
  width: 21px;
  height: 21px;
}

.overflow {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 14px;
}

@media (min-width: 740px) {
  html {
    font-size: 16px;
  }
}

body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.page-root {
  position: relative;
  min-height: 100%;
}

@media (min-width: 740px) {
  .page-root._toggled .page-root__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    content: "";
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:after {
  clear: both;
  display: table;
  content: "";
}

@media screen and (min-width: 740px) {
  .container {
    padding-left: 1.1788260117%;
    padding-right: 1.1788260117%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

.button {
  position: relative;
  display: inline-block;
  background: transparent;
  border: 1px solid;
  vertical-align: baseline;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .button {
    border-width: 2px;
  }
}

.button::before {
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  background: rgba(226, 0, 10, 0.5);
  content: "";
  z-index: -1;
  -webkit-transform: skew(30deg) translateX(-100%) translateZ(0);
          transform: skew(30deg) translateX(-100%) translateZ(0);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.button:hover::before, .button:focus::before {
  -webkit-transform: skew(30deg) translateX(0) translateZ(0);
          transform: skew(30deg) translateX(0) translateZ(0);
}

.button--lg {
  width: 280px;
  padding: 22px;
}

.button--form {
  display: block;
  width: 100%;
}

.big-mac {
  position: relative;
  z-index: 5;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  overflow: hidden;
}

@media screen and (min-width: 740px) {
  .big-mac {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.big-mac i {
  display: block;
  width: 18px;
  margin: 3px auto;
  border-top: 2px solid #fff;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.big-mac i:first-child {
  margin-top: 14px;
}

.big-mac b {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  vertical-align: middle;
  line-height: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.big-mac._toggled i {
  width: 0;
}

.big-mac._toggled b {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.input {
  display: block;
  width: 100%;
  padding: 24px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: 0;
  max-width: 100%;
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input::-moz-placeholder {
  color: #fff;
}

.input:-moz-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.form--hero {
  margin: 1.8em 0;
}

.form__row {
  margin-top: 1em;
}

.menu {
  font-size: 1.125em;
}

@media (min-width: 740px) {
  .menu__nav {
    float: left;
    width: 50%;
    padding: 16px 0;
    z-index: 4;
  }
}

@media (min-width: 740px) and (min-height: 560px) {
  .menu__nav {
    float: none;
    width: 100%;
  }
}

.menu__nav_bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 740px) {
  .menu__nav_bottom {
    padding: 96px 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background-color: #fff;
  }
}

@media (min-width: 740px) and (min-height: 560px) {
  .menu__nav_bottom {
    top: auto;
    left: 0;
    right: auto;
    width: 100%;
    padding: 20px 0;
  }
}

.menu__nav.menu_theme_red {
  background-color: #d30009;
}

.menu__nav.menu_theme_red > .menu__item:hover {
  background-color: #c30009;
}

.menu__nav.menu_theme_white {
  background-color: #fff;
}

.menu__nav.menu_theme_white > .menu__item {
  color: #363636;
}

.menu__nav.menu_theme_white > .menu__item:hover {
  background-color: #f2f2f2;
}

.menu__breadcrumb {
  display: none;
  font-size: 1rem;
  line-height: 45px;
}

@media (min-width: 992px) {
  .menu__breadcrumb {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: left;
    line-height: 80px;
  }
  .menu__breadcrumb:after {
    clear: both;
    display: table;
    content: "";
  }
}

.menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.menu_theme_red {
  background-color: #e2000a;
}

.menu_theme_red .menu__item {
  color: #fff;
}

.menu_theme_red .menu__item:hover, .menu_theme_red .menu__item-top_current {
  background-color: #d30009;
}

.menu__item {
  display: block;
  -webkit-transition: background-color .14s ease-in-out;
  transition: background-color .14s ease-in-out;
}

.menu__item-nav {
  padding: 13px 15px;
  text-decoration: none;
  border-left: 4px solid transparent;
}

@media (min-width: 740px) {
  .menu__item-nav {
    padding-left: 30px;
  }
}

.menu__item-nav_social {
  background-color: transparent !important;
}

.menu__item-nav_icon {
  position: relative;
  padding-left: 45px;
  font-size: 90%;
}

@media (min-width: 740px) {
  .menu__item-nav_icon {
    padding-left: 65px;
  }
}

.menu__item-nav_icon .icon {
  position: absolute;
  top: 50%;
  left: 15px;
}

.menu__item-nav_icon .icon.svg-phone {
  margin-top: -10px;
}

.menu__item-nav_icon .icon.svg-email {
  margin-top: -7px;
}

.menu__item-nav_icon .icon.svg-location {
  margin-top: -10px;
}

@media (min-width: 740px) {
  .menu__item-nav_icon .icon {
    left: 30px;
  }
}

.social__link {
  display: inline-block;
  vertical-align: middle;
}

.social__link + .social__link {
  margin-left: 20px;
}

.logo__header {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  height: 45px;
  background-color: #e2000a;
}

@media (min-width: 740px) {
  .logo__header {
    position: static;
    z-index: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    height: 80px;
    padding: 0 10px 0 15px;
  }
}

.logo__header._toggled {
  background-color: #d30009;
}

.logo__link {
  z-index: 5;
  display: inline-block;
  padding: 0 20px 0 15px;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}

.logo__slogan {
  display: none;
  margin-top: 7px;
  vertical-align: middle;
  font-weight: 300;
  border: 0;
}

@media (min-width: 740px) {
  .logo__slogan {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .logo__slogan {
    display: block;
    margin: 8px 0 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e2000a;
  color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (min-width: 740px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
  }
}

.header__navigation {
  position: relative;
  text-align: center;
}

@media (min-width: 740px) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.lang-switcher {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 15px;
}

@media (min-width: 740px) {
  .lang-switcher {
    position: absolute;
    right: 15px;
  }
}

.lang-switcher__item {
  float: right;
  padding: 0 7px;
  text-transform: uppercase;
  line-height: 1;
}

.lang-switcher__item:first-child {
  border-left: 1px solid;
}

.lang-switcher__item a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}

.lang-switcher__item--active a {
  border-color: transparent;
}

.sidebar_theme_red {
  background: #d30009;
}

.sidebar__pull {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 45px 0 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}

@media (min-width: 740px) {
  .sidebar__pull {
    position: fixed;
    bottom: 0;
    right: auto;
    width: 560px;
    height: 100%;
    min-height: 360px;
    padding: 80px 0 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    overflow: hidden;
    z-index: 4;
  }
}

@media (min-width: 740px) and (min-width: 740px) and (min-height: 560px) {
  .sidebar__pull {
    width: 280px;
  }
}

.sidebar__pull._toggled {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 740px) {
  .sidebar__pull._toggled {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 600px;
}

@media screen and (min-width: 740px) {
  .hero {
    padding: 7.8125rem 0;
  }
}

.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
}

.hero::after {
  position: absolute;
  top: -50%;
  bottom: -50%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  right: 50%;
  left: -100%;
}

.hero--left::after {
  left: 50%;
  right: -100%;
}

@media screen and (min-width: 992px) {
  .hero--right .hero__col {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 40.291369653%;
    margin-left: 25.5894130058%;
  }
  .hero--right .hero__col:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .hero--right .hero__col:first-child {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%;
  }
  .hero--right .hero__col:first-child:last-child {
    margin-right: 0;
  }
}

.hero .container {
  position: relative;
  z-index: 1;
}

.hero__col {
  min-height: 1px;
  text-align: center;
}

@media screen and (min-width: 740px) {
  .hero__col {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 65.8807826589%;
    margin-left: 17.0596086706%;
  }
  .hero__col:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .hero__col {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%;
    margin-left: 17.0596086706%;
    text-align: left;
  }
  .hero__col:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 740px) {
  .hero__col:first-child {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 65.8807826589%;
    margin-left: 17.0596086706%;
    margin-bottom: 0;
  }
  .hero__col:first-child:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .hero__col:first-child {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 40.291369653%;
    margin-left: 0%;
  }
  .hero__col:first-child:last-child {
    margin-right: 0;
  }
}

.hero__title {
  margin-bottom: 2em;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .hero__title {
    text-align: left;
  }
}

.hero__text {
  font-size: 20px;
  font-weight: 300;
}

.hero__text p + .button {
  margin-top: 2em;
}

.hero a {
  color: #fff;
}

.demo-block {
  padding: 2.5rem 0;
}

.demo-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  font-weight: 300;
  text-align: center;
  font-size: 2.25rem;
  text-transform: uppercase;
}

.demo-block__title::before, .demo-block__title::after {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-top: 1px solid #d7d7d7;
  content: "";
}

.demo-block__title span {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  white-space: nowrap;
}

@media screen and (min-width: 740px) {
  .demo-block__title span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media screen and (min-width: 992px) {
  .demo-block__title span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.demo-block__title span::before, .demo-block__title span::after {
  position: absolute;
  top: 50%;
  width: 7px;
  height: 7px;
  margin-top: -3px;
  border-radius: 50%;
  background: #d7d7d7;
  content: "";
}

.demo-block__title span::before {
  right: 100%;
}

.demo-block__title span::after {
  left: 100%;
}

.demo-block__offer {
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 740px) {
  .demo-block__offer {
    width: 50%;
  }
}

.demo-block__list {
  margin-top: 2.5rem;
}

@media screen and (min-width: 740px) {
  .demo-block__list-item {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 23.2317609825%;
  }
  .demo-block__list-item:last-child {
    margin-right: 0;
  }
}

.demo-block__list-title {
  text-align: center;
  text-transform: uppercase;
}

.slider {
  text-align: center;
  margin: 2.5rem 0;
}

.slider__link {
  display: inline-block;
  border: 0;
  padding: 0.625rem;
  text-align: center;
}

.slider__image {
  display: inline-block !important;
  max-width: 100%;
  width: auto !important;
  margin: 0 auto;
}

.tile-block {
  display: none;
}

.tile-block:after {
  clear: both;
  display: table;
  content: "";
}

.tile-block__item {
  float: left;
  background: #000;
}

@media (min-width: 740px) {
  .tile-block__item {
    width: 50%;
    height: 400px;
  }
}

@media (min-width: 992px) {
  .tile-block__item {
    width: 33.3333333333%;
    height: 450px;
  }
}

.tile-block__item:nth-child(odd) .project-card:first-child {
  float: right;
  background: #0f0;
}

.project-card {
  float: left;
  width: 50%;
  height: 40%;
  box-shadow: 0 0 2px red;
}

.project-card:first-child {
  width: 100%;
  height: 60%;
}

@media (min-width: 740px) {
  .content-root {
    padding-top: 80px;
  }
}

.list_inline {
  font-size: 0;
  letter-spacing: 0;
}

.list_inline .list__item {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
}

.list_inline .list__item + .list__item {
  margin-left: 10px;
}

.list-awards {
  float: left;
}

.contacts__footer {
  float: right;
}

.contact__item-footer a {
  font-weight: 400;
}

.footer {
  display: none;
  padding: 40px 80px;
  background-color: #363636;
  color: #fff;
}

.footer:after {
  clear: both;
  display: table;
  content: "";
}

.footer a {
  color: #fff;
}

.footer__bottom {
  float: left;
  width: 100%;
}

.copyrights {
  float: left;
}
